.signup
  .signup__container
    .signup__container--title
      %h2 新規登録
      = render "devise/shared/links"
    .signup__container--form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :ニックネーム
          .field-input
            = f.text_field :nickname, autofocus: true,placeholder: "例:フリマたかし"

        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email,placeholder: "PC・携帯どちらでも可"

        .field
          .field-label
            = f.label :パスワード
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: "7文字以上の半角英数字"

        .field
          .field-label
            = f.label :パスワード確認
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"

        .field
          .field-label
            = f.label :苗字
          .field-input
            = f.text_field :lastname, autofocus: true

        .field
          .field-label
            = f.label :名前
          .field-input
            = f.text_field :firstname, autofocus: true

        .field
          .field-label
            = f.label :生年月日
          .field-input
            = f.text_field :birthday, autofocus: true

        .actions
          = f.submit "登録", class: 'btn'
