= render "shared/header"

.main2
  .logo
  = image_tag 'material/logo/logo.png', size: "180x70",class:'logo2'
  .confirmBox
    .confirmBox__name
      %h2 購入内容の確認
    .confirmBox__body
      .confirmBox__body__left
        = image_tag 'material/logo/logo.png', size: "100x100"
      .confirmBox__body__right
        .conformname
          = @item.name
        .price
          ¥
          = @item.price
          (税別) 送料込み
    .confirmBox__price
      .Box
        %p 支払い金額
        ¥
        = @item.price
    .confirmBox__pay
      .confirmBox__pay__header
        %p 支払い方法
        =link_to "変更する"
      .confirmBox__pay_main
        .cardBox__info
          %label クレジットカード一覧
          .cardBox__info__number
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する
    .confirmBox__region
      .confirmBox__region__header
        %p 発送住所
        =link_to "変更する"
      .confirmBox__region__main
        %p 〒111-1111
        %p 兵庫県神戸市北区鈴蘭台南町7丁目
        %p 岩城 晃輔
    .sure
      - if @default_card_information.blank?
        %br /
      - else
        -#以下カード情報を表示
        -# = "**** **** **** " + @default_card_information.last4
        -# - exp_month = @default_card_information.exp_month.to_s
        -# - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        -# = exp_month + " / " + exp_year
      %br
      = form_tag(action: :pay, method: :post) do
        %button.submit-test.redButtom 購入する
      .sure__box
        %p アプリをお持ちで無い方は下記よりダウンロードできます。
        = image_tag "material/app-store-image.svg", size: "130x40", alt: "test"
        = image_tag "material/google-play-image.svg", size: "130x40", alt: "test"

= render "shared/footer"
