= render "shared/header"
- breadcrumb :item
= render "layouts/breadcrumbs"

.main 
  .showMain
    .rightContent
      .topContent
        .itemBox2
          .itemBox2__name
            = @item.name
          .itemBox2__body__main
            %ul
              %li.mainImage 
                = image_tag @item.images[0].picture.url, size:"560x346"
          .itemBox2__body__sub
            %ul.subImage
              - @item.images.each do |image|
                %li
                  = image_tag image.picture.url, size:"140x87"
          .itemBox2__price
            %span ¥#{@item.price}
            .itemBox2__price--detail
              %span （税込）送料込み

          - if user_signed_in? && current_user.id != @item.saler_id
            .itemBuyBtn 
              = link_to "購入画面に進む", purchase_index_path(@item.id), class:"buyBtn"
        
          .itemDetail
            = @item.detail

          .table
          %table{:border => "1"}
            %tr
              %th.left-top 出品者 
              %th.right-top 
                = @item.saler.nickname
            %tr
              %td.left-lists カテゴリー
              %td.right-lists 
                = link_to @item.category.root.name,"#" 
                %br
                = link_to @item.category.parent.name,"#" 
                %br
                = link_to @item.category.name,"#" 
            %tr
              %td.left-lists ブランド
              %td.right-lists 
                = @item.brand
            %tr
              %td.left-lists 商品のサイズ
              %td.right-lists 
                = @item.size
            %tr
              %td.left-lists 商品の状態
              %td.right-lists 
                = @item.status
            %tr
              %td.left-lists 配送料の負担
              %td.right-lists
                #{@item.fee}円
            %tr
              %td.left-lists 発送元の地域
              %td.right-lists
                = @item.region 
            %tr
              %td.left-lists 発送日の目安
              %td.right-lists
                = @item.shipping_date
          .optionalArea
            %ul
              %li.optionalBtnLikebtn
                - if current_user.already_liked?(@item)
                  = link_to item_favorite_path(@item), method: :delete, remote: true, class: "likeBtn" do
                    = icon('fas fa-star fa-xs', class: 'starIcon')
                    お気に入り #{@item.favorites.count}
                -else 
                  = link_to item_favorites_path(@item),method: :post, remote: true, class: "likeBtn" do
                    = icon('fas fa-star fa-xs', class: 'starIcon')
                    お気に入り #{@item.favorites.count}
            %ul.optional
              %li.optionalBtn
                = link_to "#", class: "reportBtn" do
                  = icon('fa fa-flag fa-xs', class: 'flagIcon')
                  不適切な商品の通報


        - if user_signed_in? && current_user.id == @item.saler_id
          .editBox
            = link_to "商品の編集", edit_item_path(@item.id), class:"itemEditBtn"
            %p.or or
            = link_to "出品の一旦停止をする", "#", class:"itemStopBtn"
            = link_to "この商品を削除する", item_path(@item.id), method: :delete, class:"itemDestroyBtn"            

        .commentBox
          %ul.commentContents
            = form_for "#" do |f|
              = f.text_area :text, class: 'comment'
              %p.noticeMsg 
                相手のことを考え丁寧なコメントを心がけましょう。
                %br 
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .commentBtnBox
                = icon('fas fa-comment', class: 'commentIcon')
                = f.submit class: 'commentBtn', value: 'コメントする'
        %ul.links 
          = link_to "< 前の商品", "#", class: "itemLinks"
          = link_to "後ろの商品 >", "#", class: "itemLinks"
        .relatedItems
          = link_to "メンズをもっと見る", "#", class: "productLists"
= render "shared/footer"